<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>王者荣耀碰碰球.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BD3E72F1F062235005D3D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BD3E7481F062236005D3D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BD3E7531F062236005D3D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
